###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###>  symfony/webpack-encore ###
/node_modules/
###< symfony/webpack-encore ###
###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
yarn-error.log
###< symfony/webpack-encore-pack ###

###> phpstorm ###
/.idea/
###< phpstorm ###
