<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block theme %}default{% endblock %}" onload="">
        {% block layout %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
